@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
  
body {
  width: 500px;
  background-color: #18071B;
  align-items: center;
}
h1 {
  margin-left: 10px;
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.85em;
  display: inline-block;
  text-align: left;
  font-optical-sizing: auto;
}
p {
  color: #FFFFFF;
  text-align: justify;
  margin-top: 20px;
  margin-left: 100px;
  line-height: 1.5;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 1em;
  font-optical-sizing: auto;
}
a {
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
}
a::after {
  content: '';
  display: block;
  background-color: #FFDA53;
  height: 1px;
  width: 100%;
}
button {
  cursor: pointer;
  margin-top: 40px;
  background-color: #FFDA53;
  border: 0;
  padding: 12px;
  color: #2F2032;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  font-size: 0.8em;
  text-align: center;
  align-items: center;
  font-optical-sizing: auto;
}
#secao {
  margin-left: 10px;
  color: #FFDA53;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  font-optical-sizing: auto;
}
h1::after {
  content: '';
  display: block;
  background-color: #FFFFFF;
  margin-top: 10px;
  height: 4px;
}